body {
  background-color: #1E1E1E;
}
h1 {
  color: #638d74;
  position: relative;

}
.social_media{
  width: 250px;
  padding-right: 0;

}
.social_media a {
  margin: 0;
}
.container {
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
}
.aboutCompanyContainer {
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 50px;
}
p {
  font-size: 1.5vw;
  color: #fff;
}
.detail-container ul li {
  color: #ffffff;
  font-size: 1.5vw;
  font-family: 'poppinsextralight', Fallback, sans-serif;
}
.detail-container {
  padding-right: 20px;
  margin-top: 60px;
}
img.logo {
  width: 15%;
  position: relative;
  margin-left: 105px;
  margin-right: 30px;
}
.clientBio {
  width: 65%;
}
#videoCTAContainer {
  display: block;
  margin:auto;
  width: 600px;

  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;

  margin-top: 50px;
  margin-bottom: 50px;

  background-color: #9873a8;

  opacity: 100%;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
#videoDescription h3 {
  font-family: sans-serif;
  font-weight: bold;
}
#videoThumbnail {
  width: 30%;
}

#videoDescription {
  margin-left: 30px;
  width: 64%;
}
#videoDescription h3, #videoDescription p {
  color: #fff;
  font-size: 1.5vw;
}

#videoDescription h3 {
  margin-top: 0px;
}
.assetImg {
  display:block;
  width: 75%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;


}
