
@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
         url('../fonts/Poppins/woff2/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/Poppins/woff/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsextralight';
    src: url('../fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype'),
         url('../fonts/Poppins/poppins-extralight-webfont.woff2') format('woff2'),
         url('../fonts/Poppins/poppins-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

iframe {
  position: relative;
  border: none;
}
body {
  font-family: 'poppinsregular', Fallback, sans-serif;
  background-color: #000;
}
h1, h2, h3 {
  color: #fff;
  font-family: 'poppinsextralight', Fallback, sans-serif;
  font-size: 5vw;
}

h2 {
  font-size: 4vw;
}
h3 {
  font-size: 3vw;
}
h2.hello, h2.who_am_i {
  padding-left: 50px;
  color: #62A887;
}
h2.who_am_i, h2.site_domain {
  font-size: 2vw;
  color: #A88C51;
  font-family: 'poppinsregular', Fallback, sans-serif;
}
h2.site_domain, img.avatar {
  margin-right: 50px;
}
#brand {
  text-align: right;
}
.column {
  float: left;
  width: 50%;
}
/*clear floats after the columns*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

#experienceContainer {
  margin-left: 50px;
  margin-right: 50px;
}
#experienceContainer p {
  color: #fff;
  text-align: center;
  margin-top: 100px;
}
#experienceContainer img.designsprints {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
}
#trustedCompanies {
  position: relative;
  margin-top: 100px;
  text-align: center;
}
table.GeneratedTable {
  width: 100%;
  background-color: #000;
  border-collapse: collapse;
  border-width: 10px;
  border-color: #000000;
  border-style: solid;
  color: #000000;
}
table.GeneratedTable td {
  border-width: 10px;
  border-color: #000000;
  border-style: solid;
  padding: 3px;
}
table.GeneratedTable thead {
  background-color: #ffcc00;
}
h1.method_title, #trustedCompanies h2 {
  color: #62A887;
}
p {
  color: #FFFFFF;
  font-size: 4vw;
  font-family: 'poppinsextralight', Fallback, sans-serif;
}
p.sectionOverview {
  position: relative;
  color: #ffffff;
  text-align: center;
  top: 50px;
  padding: 50px;
}
.productContainer  {
  width: 100%;
  background-color: #000000;
  margin: auto;
  left: 50%;
  right: 50%;
}
.productContainer p,
.productContainer h1.method_title,
.productContainer .project-btn-container {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  align-content: center;
}
#productDesignBtn h1 {
  color: #62A887;
}
.productContainer .project-btn-container{
  display: flex;
}
.social_media {
  position: relative;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}
.social_media a {
  width: 20%;
  margin: 15px;
}
.credits {
  font-size: 1.5vw;
  color: #fff;
}
#productDesignBtn {
  position: relative;
  text-align: center;

  background-color: #000000;
  border-style: solid;
  border-color: #5C4E31;


  width: 90%;
  height: 100%;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 50px;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
#productDesignBtn h1 {
  position: relative;
  font-size:3vw;
}
#productDesignBtn p {
  position: relative;
  font-size: 2vw;
}

#productDesignBtn p.sectionOverview {
  font-size: 1.5vw;

}
#productDesignBtn a {
  position: relative;
  text-decoration: none;
  top: 30px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #000000;
  background-color: #9872A8;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;

  font-size: 2vw;
  font-family: 'poppinsregular', Fallback, sans-serif;
}



#productDesignBtn a:hover {
  color: #9872A8;
  background-color: #000000;
  border-style: solid;
  border-color: #9872A8;
}
@media screen and (max-width: 1024px)
{
  .productContainer p {
    font-size: 3vw;
  }

  #productDesignBtn h1 {
    font-size: 3vw;
  }
  #productDesignBtn p {
    font-size: 3vw;

  }
  #productDesignBtn a {
    font-size: 3vw;
  }
}
